.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #f8f9fa;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .logo {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .navLinks {
    list-style: none;
    display: flex;
    gap: 1.5rem;
  }
  
  .navLinks li {
    margin: 0;
  }
  
  .navLinks a {
    text-decoration: none;
    color: #00d9d5;
    transition: color 0.3s;
  }
  
  .navLinks a:hover {
    color: #007bff; /* Hover rangini o'zgartirish */
  }